# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot
mvnw
mvnw.cmd
spring-boot-starter-dump/

# IDE-specific files (Eclipse, IntelliJ, etc.)
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs
log/
logs/

# Compiled Java
*.class

# Compiled Kotlin
*.kotlin_built
*.kotlin_module

# Compiled bytecode
*.jar
*.war
*.ear

# Dependency directories
bin/
build/
out/
node_modules/

# IDE (e.g., IntelliJ) configuration files
*.iml
*.ipr
*.iws
.idea/

# OS-specific files
.DS_Store
Thumbs.db
